/*
    font principal (não é necesario declarar novamente) ja esta setado no arquivo root do html: >font-family: 'Inter', sans-serif;<
*/


/* Lucas */
.header_logo {
    width: 143px;
    height: 34px;
}
.header_lista {
    list-style-type: none;
    display: flex;
    width: 306px;
    height: 14px;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
.header {
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    border-bottom: 1px  solid rgba(33, 124, 244, 0.1); 
}
.header {
    display: flex;
    width: 1440px;
    height: 68px;
    justify-content: space-around;
    align-items: center;
}
.header_btn {
    width: 123px;
    height: 50px;
    background-color: rgba(33, 123, 244, 1);
    box-shadow: 0px 7px 22px -6px #217BF457;
    border-radius: 14px;
    border-style: none;
}
.header_btn >p {
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}



/* ---------------------------- home ------------------------------------ */
.home_btn-a {
    width: 177px;
    height: 36px;
    background-color: rgb(33, 123, 244, 0.1);
    border-radius: 8px;
    border-style: none;
}
.home_btn-a >p {
    font-weight: 500;
    font-size: 12px;
    color: rgba(33, 123, 244, 1);

}
.home_btn-b {
    width: 162px;
    height: 62px;
    background-color: #217BF4;
    border-radius: 14px;
    border-style: none;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}
.home_btn-b >p {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.home_btn-c {
    width: 167px;
    height: 62px;
    background-color: none;
    border-radius: 14px;
    border: 1px solid rgb(33, 123, 244, 0.5);
}
.home_btn-c >p {
    font-weight: 500;
    font-size: 14px;
    color: rgba(33, 123, 244, 1);
}






















































































































































































































/* Gustavo */


















































































































































































































































































/* Gabriel */




























































































































































/* Alexandre */












































































































































































































/* Feliponi */











































































































































